
<nav class="navbar">
  <div class="logo-section">
    <img src="/images/book.jpg" alt="NACOS Logo">
    <div class="title">
      <p>NACOS RESOURCE HUB</p>
    </div>
  </div>

  <!-- Hamburger Button -->
  <button class="menu-toggle" id="menuToggle">
    ☰
  </button>


  <div class="nav-links">
    <% if (locals.user) { %>
      <a href="/logout">Logout</a>
    <% } else { %>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    <% } %>
  </div>
</nav>
