<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style.css" />
  <title>Student Dashboard</title>
</head>
<body>
  <%- include('partials/navbar', {user: user}) %>

  <div class="dashboard-container">
    <h1>Welcome <%= user.name %> (Lecturer)</h1>
    <p>This is your Lecturer Dashboard.</p>
    <div>
      <a href="/lecturer/dashboard/upload" class="">
        Upload Course Material
      </a>
    </div>
      <div>
        <a href="/lecturer/dashboard/new-course" class="">
        Create a new course
        </a>
      </div>
  </div>
</body>
</html>
