<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Student Dashboard page</title>
</head>
<body>
    <div class="card">
        <h1>Welcome <%= user.name %> (Student) </h1>
        <p>This is Your Student Dashboar.</p>
        <div style="margin-top: 1rem;">
          <a href="/logout">Logout</a>
        </div>
    </div>
</body>
</html>